{% extends 'base.html.twig' %}
{% set base = '#portfolioModal' %}
{% set euro = '€' %}
{% set numero = '0' %}
{% block body %}
{% for tapa in tapas %}
{% set numero = numero + 1 %}
  <div class="col-md-4 col-sm-6 portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="{{ base ~ numero }}">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-plus fa-3x"></i>
        </div>
      </div>
      <img class="img-fluid" src="{{ tapa.foto }}" alt="">
    </a>
    <div class="portfolio-caption">
      <h4>{{ tapa.nombre }}</h4>
      <p>{{ tapa.precio ~ euro }}</p>
    </div>
  </div>
{% endfor %}
{% endblock %}
{% set base2 = 'portfolioModal' %}
{% set numero = '0' %}
{% block modales %}
{% for tapa in tapas %}
{% set numero = numero + 1 %}
  <div class="portfolio-modal modal fade" id="{{ base2 ~ numero }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">

                <h2 class="text-uppercase">{{ tapa.nombre }}</h2>
                <img class="img-fluid d-block mx-auto" src="{{ tapa.foto }}" alt="">
                <p>{{ tapa.descripcion }}</p>
                <ul class="list-inline">
                  <li>{{ tapa.precio ~ euro }}</li>
                </ul>
                <a href="/eliminar/{{ tapa.id }}" class="w3-button w3-black">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
